[mariadb]
skip-ssl
skip-name-resolve
# disable-ssl-verify-server-cert
log-bin=db-0-bin
max_allowed_packet=1073741824
innodb_buffer_pool_size=800M
wait_timeout = 28800
net_read_timeout=3600
net_write_timeout=3600
innodb_ft_result_cache_limit=1000000000
# GTID settings
gtid_domain_id=1                # Unique domain ID for GTID
# enforce_gtid_consistency=1      # Ensure transactions are GTID-consistent
gtid_strict_mode=1              # Prevents issues with non-deterministic statements
binlog_format=ROW               # Required for GTID replication
