node_modules
public/hot
storage/*.key
vendor
temp/var/www/*
tmp
data
temp
.env.backup
.env
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.editorconfig
/.vscode
performance.code-workspace
composer.lock
